*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
/* HEADER INICIO */
.container-img{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-clothing-literary-psd-ps-source-file-image_7370.jpg);
    height: 200px;
}
.titulo{
    position: relative;
    top: 70px;
}
.mapa{
    width: 200px;
    height: 150px;

}
.container-mapa{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 40px;
}

nav{
    width: 1350px;
    height: 30px;
    background-color: #459a96;
    border: solid;
    position: relative;
    bottom: 6px;
    right: 13px;

}
ul{
    height: 30px;
    text-align: center;
    list-style: none;
    padding-right: 50px;
}
a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
li{
    display: inline;
    padding: 50px;
}
/* MAIN */
/* SECCION MUJER */
.medida-card-mujer{
    width: 550px;
    height: 50px;
    position: relative;
    top:5px;
    left: 5px;
}
.container-mujer{
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    top: 40px;
    left: 20px;

}
.titulo-mujer{
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}
.buzo-blanco-mujer{
    height: 207px;
}
.conjunto-morado{
    height: 207px;
}
