*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #a1c1be;
}
/* Footer*/
footer{
    background-color: white;
    height: 150px;
    position: relative;
    top: 150px;
}
.links-contacto {
    position: relative;
    bottom: 110px;
}

/* HEADER INICIO */
header{
    background-color: white;
    width: 100%;
    position: relative;
    top: 100px;
}
.titulo{
    position: relative;
}
.mapa {
    width: 200px;
    height: 150px;
    position: relative;
    top: 20px;
}

.container-mapa {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}
.img_wspp {
    height: 60px;
    width: 60px;
    position: relative;
    bottom: 7px;
}

.img_instagram {
    height: 60px;
    width: 60px;
}

.secciones {
    height: 490px;
    position: relative;
    top: 100px;
}
  /* SECCION MUJERES INICIO */

.medida-card-mujer{
    width: 550px;
    height: 50px;
    position: relative;
    top:5px;
    left: 18px;
}
.container-mujer{
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    top: 40px;
    left: 20px;

}
.titulo-mujer{
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}
.buzo-blanco-mujer{
    height: 207px;
}
.conjunto-morado{
    height: 207px;
}
/* SECCION HOMBRES*/
.medida-card-hombre {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}

.container-hombre {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    bottom: 415px;
    left: 720px;
}

.titulo-hombre {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}

.buzo-blanco-mujer {
    height: 207px;
}

.conjunto-morado {
    height: 207px;
}

/* MAIN BUZOS*/

  /* SECCION MUJER */
.medida-card-mujer-buzos {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}

.container-mujer-buzos {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    top: 40px;
    left: 20px;
}

.titulo-mujer-buzos {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}

.buzo-mujer-celeste {
    height: 207px;
}

.buzo-mujer-negro {
    height: 207px;
}

.buzo-mujer-amarillo {
    height: 207px;
}

/* SECCION HOMBRES*/
.medida-card-hombre-buzos {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}

.container-hombre-buzos {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    bottom: 415px;
    left: 720px;
}

.titulo-hombre-buzos {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}

.buzo-hombre-negro {
    height: 207px;
    width: 182px;
}

.buzo-hombre-negro-liso {
    height: 207px;
    width: 182px;
}

.buzo-hombre-liso {
    height: 207px;
    width: 182px;
}
/* PANTALONES */

/* SECCION MUJERES */
.pantalon-m1{
    height: 207px;
}
.pantalon-m2{
    height: 207px;
}
.pantalon-m3{
    height: 207px;
}

/* SECCION HOMBRES */
.medida-card-hombre-pantalones {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}

.container-hombre-pantalones {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    bottom: 415px;
    left: 720px;
}

.titulo-hombre-pantalones {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}

.pantalon-h1{
    height: 207px;
}
.pantalon-h2{
    height: 207px;
}
.pantalon-h3{
    height: 207px;
}
/* PIJAMAS*/
/* SECCION MUJERES */
.pijama-m1{
    height: 207px;
}
.pijama-m2{
    height: 207px;
}
.pijama-m3{
    height: 207px;
}
/* SECCION HOMBRES */

.medida-card-hombre-pijama {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}
.container-hombre-pijama {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    bottom: 415px;
    left: 720px;
}
.titulo-hombre-pijama {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}
.pijama-h1{
    height: 207px;
}
.pijama-h2{
    height: 207px;
}
.pijama-h3{
    height: 207px;
}

/* REMERAS */
/* SECCION MUJERES */
.remera-m1{
    height: 207px;
}
.remera-m2{
    height: 207px;
}
.remera-m3{
    height: 207px;
}
/* SECCION HOMBRES */
.medida-card-hombre-remera {
    width: 550px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 18px;
}
.container-hombre-remera {
    width: 585px;
    height: 455px;
    background-color: #459a96;
    position: relative;
    bottom: 415px;
    left: 720px;
}
.titulo-hombre-remera {
    background-color: grey;
    border: solid;
    height: 30px;
    position: relative;
    top: 5px;
}
.remera-h1{
    height: 207px;
}
.remera-h2{
    height: 207px;
}
.remera-h3{
    height: 207px;
}
/* VARIABLE DE VISTA MOBILE */

@media screen and (max-width: 450px){
    *{
        margin: 0;
        padding: 0;
    }
    /* HEADER */
.links-contacto{
    position: relative;
    top: 30%;
}
/* FOOTER */
footer{
    position: relative;
    top: 2220px;
}
.container-mapa{
    display: none;
}
    main{
        .container-mujer{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 20px;
            left: 10%;
        }
        .medida-card-mujer{
            height: 150px;
            width: 200px;
            position: relative;
            left: 15%;
        }
        .container-hombre{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 100px;
            left: 10%;
        }
        .medida-card-hombre{
            height: 150px;
            width: 200px;
            left: 15%;
        }
        .container-mujer-buzos{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 20px;
            left: 10%;
        }
        .medida-card-mujer-buzos{
            height: 150px;
            width: 200px;
            position: relative;
            left: 15%;
        }
        .container-hombre-buzos{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 100px;
            left: 10%;
        }
        .medida-card-hombre-buzos{
            height: 150px;
            width: 200px;
            left: 15%;
        }
        .container-hombre-pantalones{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 100px;
            left: 10%;
        }
        .medida-card-hombre-pantalones{
            height: 150px;
            width: 200px;
            left: 15%;
        }

        .container-hombre-pijama{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 100px;
            left: 10%;
        }
        .medida-card-hombre-pijama{
            height: 150px;
            width: 200px;
            left: 15%;
        }

        .container-hombre-remera{
            width: 300px;
            height: 1250px;
            position: relative;
            top: 100px;
            left: 10%;
        }
        .medida-card-hombre-remera{
            height: 150px;
            width: 200px;
            left: 15%;
        }
    }
}